<!DOCTYPE html>
<!-- <div class="container">

  <h1>Look Here!</h1>

  <p>It's simply amazing!</p>

  <br />

 </div> -->
    
<!-- <div class="hero-image">
  <div class="hero-text">
    <h1>Look Here!</h1>
    <p>It's simply amazing!</p>
    <br />
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      Enter comment
    </button> 
  </div>
</div>
 -->

<section class="hero">
  <div class="hero-inner">
    <h1>Look At This!</h1>
    <br />
    <h2>This is amazing!</h2>
    <br />
    <br />
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      Enter comment
    </button>
  </div>
</section>
