<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text center">
    <br />
    <h1>Look at this picture! What do you think of it?</h1>
    <br />
    <h2>Enjoy it!</h2>
    <br />
    <br />
    <br />
    <br />

    <button type="button" class='btn btn-success'>Comment here!</button>

  </div>
</div>

<div class="clear"></div>
