<!-- <div class="container">

  <h1>Look Here!</h1>

  <p>It's simply amazing!</p>

  <br />

</div>
    <!-- Buton trigger modal -->




<!-- <div class="clear"></div> -->
<div class="hero-image">
  <div class="hero-text">
    <h1>Look Here!</h1>
    <p>It's simply amazing!</p>
    <br />
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      Enter comment
    </button> 
  </div>
</div>
